<div class="product-container">
    <div class="product-image-container">
        <img src="@Image.Src" alt="@Image.Alt"/>
    </div>
    <div class="product-details">
        <p>Name: @Name</p>
        <p>Price: £@Price</p>
        <p>Seller: @SellerName</p>
        <p>Description: @Description</p>
    </div>
</div>

@code {

    [Parameter]
    public string Name { get; set; } = "Product Name";

    [Parameter]
    public float Price { get; set; }

    [Parameter]
    public string SellerName { get; set; } = "Seller Name";

    [Parameter]
    public string Description { get; set; } = "Description";

    [Parameter]
    public (string Src, string Alt) Image { get; set; } = (string.Empty, "Sample product image.");

}