<div class="nav-bar">
    <div class="@SelectedIfCurrentPage("Dashboard")">
        <a href="">Dashboard</a>
        <div></div>
    </div>
    <div class="@SelectedIfCurrentPage("Products")">
        <a href="products">Products</a>
        <div></div>
    </div>
    <div class="@SelectedIfCurrentPage("Notifications")">
        <a href="notifications">Notification</a>
        <div></div>
    </div>
    <div class="@SelectedIfCurrentPage("Messages")">
        <a href="messages">Messages</a>
        <div></div>
    </div>
    <div class="@SelectedIfCurrentPage("Account")">
        <a href="account">Account</a>
        <div></div>
    </div>
</div>

@code {

    [Inject] NavigationManager NavigationManager { get; set; }
    
    private string SelectedIfCurrentPage(string option)
    {
        if (option == "Dashboard"
            && NavigationManager.Uri == NavigationManager.BaseUri)
        {
            return "selected";
        }
        
        return NavigationManager.Uri.EndsWith(option, StringComparison.OrdinalIgnoreCase)
            ? "selected"
            : string.Empty;
    }
}