@implements IDisposable

<div class="nav-bar">
    @if (AuthenticationService.IsAuthenticated)
    {
        <div class="@(_selectedPage["dashboard"] ? "selected" : "")">
            <a href="">Dashboard</a>
            <div></div>
        </div>
        <div class="@(_selectedPage["products"] ? "selected" : "")">
            <a href="products">Products</a>
            <div></div>
        </div>
        <div class="@(_selectedPage["notifications"] ? "selected" : "")">
            <a href="notifications">Notifications</a>
            <div></div>
        </div>
        <div class="@(_selectedPage["messages"] ? "selected" : "")">
            <a href="messages">Messages</a>
            <div></div>
        </div>
        <div class="@(_selectedPage["account"] ? "selected" : "")">
            <a href="account">Account</a>
            <div></div>
        </div>
    }
    else
    {
        <div class="@(_selectedPage["login"] ? "selected" : "")">
            <a href="account">Login</a>
            <div></div>
        </div>
    }
</div>